    .body {
    margin: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background-color: #061414;
  }
  
  .header {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    background-color: #061414;
  }
  
  .footer {
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #061414;
  }
  .toptext{
    margin: 0px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    
  }
  .navbarup{
    margin: 5px auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    height: 34px;
    width: 353px;
    background-color:rgba(255, 255, 255, 0.04);
    border-radius: 12px;
  }
  .navbarup a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.colortextgreen{
  text-decoration: none;
  color: #9DFF00;
  font-family: Arial, Helvetica, sans-serif;
}
.colortextwhite{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.lunedì{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 64px;
  background-color: black;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}
.separator{
  height: 20px;
  width: 71px;
  border-left: 1px solid rgba(255, 255, 255, 0.11) ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.percentage{
  margin: 10px auto;
  width: 353px;
  height: 87px;
  background-color: black;
  border-radius: 11px;
}
.line{
  margin: 20px auto;
  width: 353px;
  height: 1px;
  background-color:rgba(255, 255, 255, 0.11);
}
.tittlecard{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  transform: translateX(-107px);
  height: 40px;
  width: 135px;
  border: 1px solid #EA7676;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
}
.tittlecard h2{
  color: rgb(255, 255, 255);
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.dailytraining{
    height: 22px;
    width: 215px;
    margin: 0 auto;
    transform: translateX(-67px);
 
}
.card{
    height: 349px;
    width: 241px;
   
    

   

    background-color: #000000;
    border-radius: 11px;
    margin: 10px auto;
    transform: translateX(-57px);
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}
.img{
    margin: 5px auto;
    height: 160px;
    width: 231px;
    background-color: #9DFF00;
    border-radius: 11px;
    
}
.container_exercise{
    gap: 10px;
    padding-left: 5px;
    margin: 10px auto;
    width: 239px;
    height: 54;
    display: flex;
    flex-wrap: wrap;
    
}
.exercise{
    display: flex;
    align-items: center;
    
    height: 26px;
    border-radius: 4px;
    background-color: #ECE072;
}
.exercisemargin{
    margin-left: 5px;
    margin-right: 5px;
    color: #000000;
}
